{% trans_default_domain 'base' %}
{% use "Module/block.html.twig" %}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="phpMumbleAdmin NG">
        <meta name="author" content="ipnoz">

        <title>{% block title %}phpMumbleAdmin{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/font-awesome/css/all.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/sb-admin/sb-admin-7.0.2.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.min.css') }}" />

        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/icon.png') }}" />

        <script src="{{ asset('assets/vendor/jquery/jquery-3.6.0.min.js') }}" defer></script>
        <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}" defer></script>
        <script src="{{ asset('assets/vendor/bootstrap-5.0.2/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ asset('assets/vendor/jquery-easing/jquery.easing.min.js') }}" defer></script>
        <script src="{{ asset('assets/vendor/sb-admin/sb-admin-7.0.2.min.js') }}" defer></script>
        <script src="{{ asset('assets/vendor/jquery-confirm/jquery-confirm.min.js') }}" defer></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" defer></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/app.min.js') }}" defer></script>

    </head>

    <body id="page-top" class="sb-nav-fixed">

        {% block top_nav %}
            {% include 'Partial/top_nav.html.twig' %}
        {% endblock %}

        <div id="layoutSidenav">

            <div id="layoutSidenav_nav">
                <nav id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                {% block side_nav %}
                                    {% include 'Partial/side_nav.html.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="sb-sidenav-footer">
                            <div class="small">{{ 'logged_in_as'|trans }}</div>
                            <div class="name">{{ app.user }}</div>
                            <div class="role">{{ app.user.roles[0]|trans }}</div>
                        </div>
                    {% endif %}
                </nav>
            </div>

            <div id="layoutSidenav_content">

                {% if is_granted('ROLE_ADMIN') %}
                    {% include 'Partial/servers_nav.html.twig' %}
                {% endif %}

                <main id="content">

                    {% include 'Partial/flash_message.html.twig' %}

                    <div id="content_nav">
                        {% block content_nav %}{% endblock %}
                    </div>

                    {% block body %}{% endblock %}

                </main>

                {% include 'Partial/footer.html.twig' %}

            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% include 'Partial/Modal/logout.html.twig' %}
        {% endif %}
        {% block modals %}{% endblock %}

    </body>
</html>
