
{% use 'bootstrap_4_layout.html.twig' %}
{% use 'Form/Include/bootstrap_4_common.html.twig' %}
{% use 'Form/Include/bootstrap_4_app.html.twig' %}

{# Move the form_error block off the form_label under the form_help #}
{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
    {%- if errors|length > 0 -%}
        <div id="{{ id }}_errors" class="mb-2">
            {{- form_errors(form) -}}
        </div>
    {%- endif -%}
    </{{ element|default('div') }}>
{%- endblock form_row %}
