
{#
    Common block for both bootstrap_4_layout & bootstrap_4_horizontal_layout templates
#}

{# Disable errors shown on form labels #}
{% block form_label_errors %}{% endblock form_label_errors %}

{# Removing the <span>error<span> in front of the error text #}
{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}
