
{#
    Custom type blocks from the App
#}

{% use "Module/block.html.twig" %}

{% block app_input_for_vuejs_widget %}
    {% set vueJsDisabled = form.vars.vuejs_disabled ?? 'false' %}
    <input type="text" class="form-control" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" :value="{{ form.vars.variable_name }}" :disabled="{{ vueJsDisabled }}" />
{% endblock app_input_for_vuejs_widget %}

{% block app_checkbox_for_vuejs_widget %}
    <input type="checkbox" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" :checked="{{ form.vars.variable_name }}" />
{% endblock app_checkbox_for_vuejs_widget %}

{% block app_integer_for_vuejs_widget %}
    <input type="number" class="form-control" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" :value="{{ form.vars.variable_name }}" />
{% endblock app_integer_for_vuejs_widget %}

{% block app_textarea_for_vuejs_widget %}
    <textarea type="text"  class="form-control" rows="6"id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" :value="{{ form.vars.variable_name }}"></textarea>
{% endblock app_textarea_for_vuejs_widget %}

{% block app_hidden_integer_for_vuejs_row %}
    <input type="hidden" name="{{ form.vars.full_name }}" :value="{{ form.vars.variable_name }}" />
{% endblock app_hidden_integer_for_vuejs_row %}

{% block app_hidden_input_for_vuejs_row %}
    <input type="hidden" name="{{ form.vars.full_name }}" :value="{{ form.vars.variable_name }}" />
{% endblock app_hidden_input_for_vuejs_row %}

{% block app_close_modal_button_row %}
    {{ block('close_modal_button') }}
{% endblock %}

{% block app_cancel_modal_button_row %}
    <div class="mb-3">
        {{ block('cancel_modal_button') }}
    </div>
{% endblock %}

{#  Add neutral id to form elements of the type for jquery. See EndDateType.js #}
{% block app_end_date_row %}
    <fieldset>
        {{ form_label(form) }}
        {{ form_row(form.permanent, { 'id': 'end_date_permanent'}) }}
        {{ form_row(form.date, { 'id': 'end_date_pick'}) }}
    </fieldset>
{% endblock %}

{% block app_login_submit_row %}
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="{{ path('app_forgotten_password') }}">{{ 'forgot_password'|trans({}, 'login') }}</a>
        {{- form_widget(form) -}}
    </div>
{% endblock app_login_submit_row %}

{% block app_edit_password_row %}
    <fieldset>
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </fieldset>
{% endblock app_edit_password_row %}
