
.captions {
    padding: 2px 10px;
    background-color: $color-comment;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid $maroon;
    border-right: 1px solid $maroon;
}
