
#centered-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    @media #{$min-width-lg} {
        max-width: 60%;
    }
}
