
#sticky-flash-messages {
    z-index: 99999;
    position: fixed;
    left: 10px;
    right: 10px;
    @media #{$min-width-sm} {
        left: initial;
        min-width: 60%;
        max-width: 60%;
    }
    @media #{$min-width-lg} {
        top: 50px;
        min-width: 35%;
        max-width: 35%;
    }
    @media #{$min-width-xl} {
        min-width: 25%;
        max-width: 25%;
    }
    .app-flash {
        width: 100%;
        cursor: pointer;
        margin: 3px 0;
        word-wrap: break-word;
        hyphens: auto;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.alert {
    .btn-close {
        &:hover, &:active, &:focus {
            box-shadow: none;
        }
    }
}
