
#info-panel {
    $breakpoint-info-panel: $min-width-xs;
    $breakpoint-cards: $min-width-sm;

    padding: 0;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    @media #{$breakpoint-info-panel} {
        flex-direction: row;
    }
    .cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        @media #{$breakpoint-info-panel} {
            margin-bottom: initial;
            width: 75%;
        }
        @media #{$breakpoint-cards} {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .card {
            display: inline-block;
            padding: 10px 20px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            @media #{$breakpoint-cards} {
                &:not(:last-child) {
                    margin-bottom: initial;
                    margin-right: 1rem;
                }
            }
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            &:nth-child(1) {
                color: #055160;
                background-color: #cff4fc;
                border-color: #b6effb;
            }
            &:nth-child(2) {
                color: #664d03;
                background-color: #fff3cd;
                border-color: #ffecb5;
            }
            &:nth-child(3) {
                color: #0f5132;
                background-color: #d1e7dd;
                border-color: #badbcc;
            }
        }
    }
    .menu-buttons {
        text-align: right;
        @media #{$breakpoint-info-panel} {
            width: 25%;
        }
    }
}
