
/* Container of the loading animation */
.loading-animation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-fetch-and-inject] .ajax-inner {
    min-height: 150px;
}
