
.logs {
    .day {
        background-color: $gray-200;
        padding-left: 3rem;
        font-weight: bold;
        margin: 1rem 0;
        i {
            margin-right: 0.5rem;
        }
    }
    .log {
        time {
            margin-right: 1.5rem;
            background-color: $gray-300;
            padding: 5px 10px;
            &.plop {
                background-color: red;
            }
        }
        &.new-log {
            @extend .animation-apparition;
        }
    }
}
