
.simple-html-editor {
    @media #{$min-width-sm} {
        min-height: 10rem;
    }
    @media #{$min-width-md} {
        min-height: 15rem;
    }
    @media #{$min-width-lg} {
        min-height: 20rem;
    }
}
