{#
/**
 * @file
 * Twitter Bootstrap v4-beta.2 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * https://getbootstrap.com/docs/4.0/components/pagination/
 *
 * @author Dadon David <https://www.ipnoz.net/>
 */
#}
{% if pageCount > 1 %}

    {% trans_default_domain 'KnpPaginatorBundle' %}

    <nav>
        {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
        {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
        <ul class="pagination{{ classAlign }}{{ classSize }}">

        {% if previous is defined %}
            <li class="page-item" title="{{ 'label_first'|trans() }}">
                <a class="page-link" rel="first" href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                    <i class="fas fa-angle-double-left" aria-hidden="true"></i>
                </a>
            <li class="page-item" title="{{ 'label_previous'|trans() }}">
                <a class="page-link" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="fas fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled" title="{{ 'label_first'|trans() }}">
                <span class="page-link">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </span>
            </li>
            <li class="page-item disabled" title="{{ 'label_previous'|trans() }}">
                <span class="page-link">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item active">
                    <span class="page-link">{{ page }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="page-item" title="{{ 'label_next'|trans() }}">
                <a class="page-link" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <i class="fas fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item mr-sm-4" title="{{ 'label_last'|trans() }}">
                <a class="page-link" rel="last" href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </li>
        {% else %}
            <li  class="page-item disabled" title="{{ 'label_next'|trans() }}">
                <span class="page-link">
                    <i class="fas fa-angle-right" aria-hidden="true"></i>
                </span>
            </li>
            <li  class="page-item disabled mr-sm-4" title="{{ 'label_last'|trans() }}">
                <span class="page-link">
                    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                </span>
            </li>
        {% endif %}

        <li class="page-item d-none d-sm-inline">
            <form method="GET">
                <input type="text" class="page-link" placeholder="page" name="{{ pageParameterName }}"/>
            </form>
        </li>
        <li class="page-item disabled d-none d-sm-inline">
            <span class="page-link">
                {{ 'total_of_pages'|trans({ '%count%': pageCount }) }}
            </span>
        </li>

        </ul>
    </nav>
{% endif %}
