
{% use "Module/block.html.twig" %}

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                {{ block('close_modal_button') }}
            </div>
            <div class="d-none modal-body-hidden">{{ delete_modal_body_text }}</div>
            <div id="deleteLabel" class="modal-body"></div>
            <div class="modal-footer">
                {{ block('cancel_modal_button') }}
                <button id="confirm-delete-button" class="btn btn-danger" type="button">
                    {{ 'delete'|trans({}, 'Form') }}
                </button>
            </div>
        </div>
    </div>
</div>
