
{% use "Module/block.html.twig" %}

<div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logoutLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutLabel">{{ 'logout_title'|trans({}, 'Form') }}</h5>
                {{ block('close_modal_button') }}
            </div>
            <div class="modal-body">{{ 'logout_body'|trans({}, 'Form') }}</div>
            <div class="modal-footer">
                {{ block('cancel_modal_button') }}
                <a class="btn btn-primary" href="{{ path('app_logout') }}">{{ 'logout'|trans({}, 'Form') }}</a>
            </div>
        </div>
    </div>
</div>
