{% extends 'Page/Server/server.html.twig' %}

{% trans_default_domain 'channels' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/jquery-confirm/jquery-confirm.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Assets/vue.js.html.twig' %}

    {% if viewModel.jsonViewer is not null %}
        <script>const MumbleTree = {{ viewModel.jsonViewer|raw }};</script>
        <script src="{{ asset('assets/vue/MumbleViewer.vue.js') }}" defer></script>
    {% endif %}
{% endblock %}

{% block server_is_running %}
    <div id="MumbleViewerContainer" class="container-fluid app-container d-flex flex-column">
        <div class="row flex-grow-1">

            <div id="MumbleViewerPanel" class="col-md-5 p-0 pe-md-2 order-1 order-md-0">

                <div class="row">

                    <div class="col-12 col-sm-7 updateDatasError">
                        <div class="message" :class="{ show: hasUpdateDatasError }">
                            {{ 'error_occurred_while_refreshing_tree'|trans }}
                        </div>
                    </div>

                    <div id="MumbleViewerActionMenu" class="col-12 col-sm-5 dropdown text-end">
                        {% include 'Page/Server/Channels/Partial/actions_dropdown_button.html.twig' %}
                    </div>

                </div>

                <div class="comment" v-html="getSelectedNodeComment()"></div>

                <div class="infos">
                    {% include 'Page/Server/Channels/Partial/viewer_infos.html.twig' %}
                </div>

            </div>

            <div class="col-md-7 p-0 order-0 order-md-1 d-flex flex-column justify-content-between">

                <div class="MumbleViewer" :class="[{ actionMode: actionModeOn() }]">
                    {% include 'Page/Server/Channels/Partial/viewer.html.twig' %}
                </div>

                <div class="my-3 mb-md-0">
                    {% include 'Module/Captions/captions_viewer.html.twig' %}
                </div>
            </div>
        </div>

        {% block channels_modals %}
            {% include 'Page/Server/Channels/Partial/modals.html.twig' %}
        {% endblock channels_modals %}

    </div>
{% endblock %}
