
{% extends 'Page/Server/server.html.twig' %}
{% trans_default_domain 'bans' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'Assets/dataTables.css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Assets/dataTables.js.html.twig' %}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {%  set delete_modal_body_text = 'delete_ban_comfirmation_text'|trans() %}
    {{ block('modal_delete') }}
{% endblock %}

{% block server_is_running %}

    <div id="MumbleBansContainer" class="app-container">
        <table id="table-bans" class="{{ block('table_css') }} dataTables">
            <thead>
                <tr>
                    <th class="id"></th>
                    <th></th>
                    <th class="icon"></th>
                    <th class="date-time">{{ 'started'|trans() }}</th>
                    <th class="date-time">{{ 'end'|trans() }}</th>
                    <th class="icon" data-sortable="false"></th>
                </tr>
            </thead>
            <tbody>
                {% for ban in viewModel.bans %}
                    <tr>
                        <td class="id">{{ ban.id }}</td>
                        <td class="selection">
                            <a href="#">
                                <div>
                                    <span class="ip">{{ ban.ip }} {{ ban.mask ? '/ ' ~ ban.mask : '' }}</span>
                                </div>
                                <div>
                                    {% if ban.name is not empty %}
                                        <span class="name">{{ ban.name }}</span>
                                    {% endif %}
                                </div>
                                {% if ban.reason is not empty %}
                                    <div>
                                        <span class="reason">{{ ban.reason }}</span>
                                    </div>
                                {% endif %}
                            </a>
                        </td>
                        <td class="icon">
                            {% if ban.hash is not empty %}
                                <i class="{{ block('icon_certificate') }}" title="{{ 'the_ban_has_a_certificate'|trans }}"></i>
                            {% endif %}
                        </td>
                        <td class="date-time" data-sort="{{ ban.start }}">
                            {{ ban.start|format_datetime('short') }}
                        </td>
                        <td class="date-time" data-sort="{{ ban.end }}">
                            {% if ban.end > 0 %}
                                {{ ban.end|format_datetime('short') }}
                            {% endif %}
                        </td>
                        <td class="icon">
                            {% set action = path('cmd_server_ban_delete', { 'serverId': viewModel.serverId, 'id': ban.id }) %}
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" data-name="{{ ban.ip }} {{ ban.mask ? '/ ' ~ ban.mask : '' }}" data-action="{{ action }}" title="{{ 'delete_the_ban'|trans }}">
                                {{ block('icon_delete') }}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
