
{% if viewModel.infoPanel is not empty %}
    <div id="info-panel">

        <div class="cards">

            {% for infoPanel in viewModel.infoPanel %}
                <div class="card">
                    {{ infoPanel.text|trans(infoPanel.arguments, 'info-panel') }}
                </div>
            {% endfor %}

        </div>

        {% if info_panel_menu_button is not empty %}
            <div class="menu-buttons">
                {{ info_panel_menu_button|raw }}
            </div>
        {% endif %}

    </div>
{% endif %}
