
{% trans_default_domain 'channels' %}

<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#createChannelModal" class="dropdown-item">
        {{ 'create_channel'|trans() }}
    </a>
</li>
<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#sendMessageToChannelModal" class="dropdown-item">
        {{ 'send_message'|trans() }}
    </a>
</li>
<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#editChannelModal" class="dropdown-item">
        {{ 'edit_channel'|trans() }}
    </a>
</li>
<li>
    <a href="#" @click="activateAction('link_channel');" data-bs-target="#linkChannel" class="dropdown-item">
        {{ 'link_channel'|trans() }}
    </a>
</li>
<li>
    <a v-show="selectedNodeHasLinks()" href="#" @click="activateAction('unlink_channel');" data-bs-target="#unlinkChannel" class="dropdown-item">
        {{ 'unlink_channel'|trans() }}
    </a>
    <span v-show="! selectedNodeHasLinks()" class="dropdown-item disabled">
        {{ 'unlink_channel'|trans() }}
    </span>
</li>
<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteChannelModal" class="dropdown-item">
        {{ 'delete_channel'|trans() }}
    </a>
</li>
