
{% use "Form/bootstrap_4_horizontal_layout.html.twig" %}

{% block form_label_class -%}
    col-md-3
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-md-4
{%- endblock form_group_class %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}
            {%- if help is not empty -%}
                {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
            {%- endif -%}
            <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' setting-group row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
                {{- form_label(form) -}}
                {# Emptying the form_label_errors block on form_label #}
                {% block form_label_errors %}{% endblock %}
                <div class="col-md-5 html-output {{ form.vars.modified ? 'modified' : '' }}">
                    <div class="inner field-{{ form.vars.name }}">
                        <span class="pre">{{ form.vars.output }}</span>
                    </div>
                </div>
                <div class="{{ block('form_group_class') }} input-control">
                    {{- form_widget(form, widget_attr) -}}
                    {{- form_errors(form) -}}
                </div>
        {##}</div>
    {%- endif -%}
{%- endblock form_row %}

{% block app_setting_welcometext_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
        <div class="simple-html-editor" data-target-id="{{- form.vars.id -}}">
            {{- form.vars.output|raw_without_javascript -}}
        </div>
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
{% endblock app_setting_welcometext_row %}

{% block app_setting_certificate_row %}
    {% form_theme form 'Form/bootstrap_4_layout.html.twig' %}
    {{- form_row(form) -}}
{% endblock app_setting_certificate_row %}
