
{% extends 'Page/Server/server.html.twig' %}
{% trans_default_domain 'settings' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/quill/quill.snow.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/quill/quill.min.js') }}" defer></script>
{% endblock %}

{% block server_is_running %}

    {% form_theme form 'Page/Server/Settings/form.html.twig' %}

    <div id="MumbleSettingsContainer" class="app-container">

        {{ form_start(form) }}

            {% include 'Page/Server/Settings/Partial/menu.html.twig' %}
            {% include 'Page/Server/Settings/Partial/panes.html.twig' %}

            <div class="text-end">
                {{ form_widget(form.submit) }}
            </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
