
<template v-for="log in getLogs()">
    <div v-if="log.date" class="day">
        <i class="far fa-calendar-alt"></i>
        <time>${ log.date }</time>
    </div>
    <div class="log" :key="log.id" :class="{ 'new-log': log.isNewLog }">
        <time>${ log.time }</time>
        <span class="text">${ log.text }</span>
    </div>
</template>
