
{% use "Module/block.html.twig" %}
{% trans_default_domain 'dashboard' %}

<div class="dropdown">

    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-end">
        <li><span class="dropdown-item-text small">{{ 'actions'|trans }}</span></li>
        <li><hr class="dropdown-divider" /></li>

        <li>
            {% set action = serverData.isBooted ? 'cmd_stopServer' : 'cmd_startServer' %}
            {% set color = serverData.isBooted ? 'offline' : 'online' %}
            {% set text = serverData.isBooted ? 'stop_server' : 'start_server' %}
            <a class="dropdown-item" href="{{ path(action, {'serverId': serverData.id}) }}">
                <i class="fas fa-power-off {{ color }}" aria-hidden="true"></i> {{ text|trans }}
            </a>
        </li>

        <li>
            {% set action = serverData.webAccessEnabled ? 'cmd_remove_web_access' : 'cmd_allow_web_access' %}
            {% set color = serverData.webAccessEnabled ? 'offline' : 'online' %}
            {% set text = serverData.webAccessEnabled ? 'disable_web_access' : 'enable_web_access' %}
            <a class="dropdown-item" href="{{ path(action, {'serverId': serverData.id}) }}">
                <i class="fas fa-globe {{ color }}" aria-hidden="true"></i> {{ text|trans }}
            </a>
        </li>

        <li>
            {% set serverName = (serverData.serverName is empty) ? 'id#'~ serverData.id : serverData.serverName %}
            {% set action = path('cmd_delete_server', {'serverId': serverData.id}) %}
            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" data-name="{{ serverName }}" data-action="{{ action }}">
                {{ block('icon_delete') }} {{ 'delete_server'|trans }}
            </button>
        </li>
    </ul>

</div>
