
{% trans_default_domain 'dashboard' %}

{% import "Module/macro.html.twig" as macro %}

<div id="info-panel">

    <div class="cards">

        <div class="card">
            <a href="{{ path('dashboard_murmurDefaultParameters') }}" data-bs-tooltip="popover" data-bs-content="{{ 'title_murmur_default_config'|trans }}">
                {{- 'info_murmur_version'|trans({'version': view.murmur_version}) -}}
            </a>
            &nbsp;
            {{ macro.uptime(view.murmurStartedAt) }}
        </div>

        <div class="card">
            {{ 'info_servers'|trans({ '%count%': view.total_of_servers, '%booted%': view.total_of_booted_servers }) }}
        </div>

        <div class="card">
            {{ 'info_connected_users'|trans({'%count%': view.total_of_connected_users}) }}
        </div>

    </div>

    <div class="menu-buttons">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createServerModal" data-bs-tooltip="popover" data-bs-content="{{ 'create_server_title'|trans({}, 'form-create-server') }}">
            <i class="fas fa-plus"></i>
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sendMessageModal" data-bs-tooltip="popover" data-bs-content="{{ 'send_message_to_servers'|trans({}, 'Form') }}">
            <i class="fas fa-comment-alt"></i>
        </button>

    </div>
</div>
