{% set vuejs = (app.environment == 'prod') ? 'vue.min.js' : 'vue.js' %}
<script>const UPDATE_LOGS_IN_MS = {{ logs_update_in_ms }};</script>
<script src="{{ asset('assets/vendor/vue/'~vuejs) }}" defer></script>
<script src="{{ asset('assets/vendor/axios/axios.min.js') }}" defer></script>
<script src="{{ asset('assets/vue/mixin.vue.min.js') }}" defer></script>