
form {
    fieldset {
        border: 1px solid lightgrey;
        padding: 20px 30px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        legend {
            /* Remove properties from Bootstrap class with !important */
            padding: 0 7px !important;
            width: auto !important;
            font-weight: bold;
            margin-top: -33px;
            margin-left: -10px;
            background-color: $gray-200;
        }
    }
}
