
/* Sticky footer setup */
body {
    #layoutSidenav {
        display: flex;
        flex-direction: column;
        #layoutSidenav_nav {
            flex-grow: 1;
        }
        #layoutSidenav_content {
            #content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 2;
    font-weight: 500;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $link-color;
}

button:focus {
    outline: 0 solid transparent;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
}

.pre {
    white-space: pre;
}
