
table {
    thead th,
    tbody td {
        &.icon {
            width: 30px;
            text-align: center !important;
        }
        &.id {
            width: 40px;
            text-align: right !important;
        }
        &.date-time {
            width: 200px;
            white-space: nowrap;
        }
    }
    thead {
        th {
            text-align: left !important;
            &.selection {
                @media #{$min-width-lg} {
                    width: 35%;
                }
                @media #{$min-width-xl} {
                    width: 50%;
                }
            }
        }
    }
    tbody {
        td {
            text-align: left !important;
            &.selection {
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0;
                a {
                    padding: 0.75rem;
                    display: block;
                }
            }
            &.icon {
                img {
                    width: 16px;
                }
            }
            .trash {
                color: $app-red;
            }
        }
    }
}
