
// Animation of apparition for new element
.animation-apparition {
    animation: apparitionKeyFrames 2s normal forwards ease-in-out;
}

@keyframes apparitionKeyFrames {
    from {
        opacity: 0;
    }
    50% {
        background-color: $color-comment;
        opacity: 1;
    }
}
