
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$app-red: indianred;
$app-darkred: darkred;
$app-green: yellowgreen;
$link-color: steelblue;
$maroon: #5D0000;
$orange: #FBB117;

$sb-admin-black: #212529;

$color-comment: lightyellow;

.primary-color {
    color: $link-color;
}

$btn-green: $app-green;
$btn-red: $app-red;
