{% extends '@KnpMenu/menu.html.twig' %}

{# Implement the translation of label #}
{% block label %}
    {% if item.label is not empty %}
        {% set defaultTransParams = item.root.getExtra('translation_params', {}) %}
        {% set defaultTransDomain = item.root.getExtra('translation_domain', '') %}
        {% set label = item.label|trans(item.getExtra('translation_params', defaultTransParams), item.getExtra('translation_domain', defaultTransDomain)) %}
        {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
            {{ label|raw }}
        {% else %}
            {{ label }}
        {% endif %}
    {% endif %}
{% endblock %}
