{% extends 'Page/base.html.twig' %}
{% trans_default_domain 'Form' %}

{% block body %}
    <div class="d-flex flex-column flex-grow-1">
        <div class="col-sm-10 col-md-8 col-lg-6 m-sm-auto">
            {{ form_start(form) }}
            <div class="card" role="dialog">
                <div class="card-body">
                    <h5 class="card-title my-sm-3">{{ 'server_is_not_empty_title'|trans() }}</h5>
                    {{ form_row(form.kickUsers) }}
                    {{ form_row(form.reason) }}
                    {{ form_row(form.message) }}
                </div>
                <div class="card-footer d-flex">
                    <button type="button" class="btn btn-warning me-auto" data-bs-toggle="modal" data-bs-target="#forceStopInfosModal">
                        {{ 'help'|trans() }}
                    </button>
                    {{ form_widget(form.cancel) }}
                    {{ form_widget(form.comfirm_to_stop_server) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="forceStopInfosModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="forceStopInfosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'help'|trans() }}</h5>
                    {{ block('close_modal_button') }}
                </div>
                <div id="forceStopInfosLabel" class="modal-body small">
                    <p>{{ 'kick_users_information'|trans() }}</p>
                    <p>{{ 'give_reason_information'|trans() }}</p>
                    <p>{{ 'send_message_information'|trans() }}</p>
                </div>
                <div class="modal-footer">
                    {{ block('cancel_modal_button') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

