{% extends 'Page/Server/server.html.twig' %}

{% trans_default_domain 'logs' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Assets/vue.js.html.twig' %}
    <script>const logsBag = {{ viewModel.logsBag|raw }};</script>
    <script src="{{ asset('assets/vue/MumbleLogs.vue.js') }}" defer></script>
{% endblock %}

{% block server_is_running %}
    <div id="MumbleLogsContainer" class="app-container">
        {{ include('Module/VueTemplate/logs.html.twig') }}
    </div>
{% endblock %}
