
{% import 'Page/Server/Channels/Partial/ViewerInfos/macro.html.twig' as macro %}

{% trans_default_domain 'channels' %}

{% set yesTrans = 'yes'|trans({}, 'common') %}
{% set noTrans = 'no'|trans({}, 'common') %}

{{ macro.line('is_default_channel', '${ selectedNode.isDefaultChannel ? "'~yesTrans~'" : "'~noTrans~'" }') }}
{{ macro.line('password', '${ selectedNode.token }', null, 'common') }}
{{ macro.line('channel_position', '${ selectedNode.position }') }}
{{ macro.line('temporary_channel', '${ selectedNode.temporary ? "'~yesTrans~'" : "'~noTrans~'" }') }}
