
{% macro line(key, value, tooltip = null, transDomain = 'channels') %}
    <div>
        <span class="key">{{ key|trans({}, transDomain) }}</span>
        {% if tooltip %}
            <i class="fas fa-info-circle" data-bs-toggle="popover" data-bs-content="{{ tooltip|trans({}, transDomain) }}"></i>
        {% endif %}
        <span class="value">{{ value }}</span>
    </div>
{% endmacro %}
