
{% import 'Page/Server/Channels/Partial/ViewerInfos/macro.html.twig' as macro %}

{% trans_default_domain 'channels' %}

{% set activedTrans = 'actived'|trans({}, 'common') %}
{% set deactivedTrans = 'desactived'|trans({}, 'common') %}

{{ macro.line('user_info_address_ip', '${ selectedNode.ip }') }}
{{ macro.line('user_info_account_id', '${ selectedNode.userid }') }}
{{ macro.line('user_info_session_id', '${ selectedNode.session }') }}
{{ macro.line('user_info_online_uptime', '${ selectedNode.onlinesecs }') }}
{{ macro.line('user_info_idle_uptime', '${ selectedNode.idlesecs }') }}
{{ macro.line('user_info_tcp_mode', '${ selectedNode.tcponly ? "'~activedTrans~'" : "'~deactivedTrans~'" }') }}
{{ macro.line('user_info_bytes_per_sec', '${ selectedNode.bytespersec } Kbits/s', 'user_info_bytes_per_sec_tooltip') }}
{{ macro.line('user_info_tcp_ping', '${ selectedNode.tcpPing } ms', 'user_info_ping_tooltip') }}
{{ macro.line('user_info_udp_ping', '${ selectedNode.udpPing } ms', 'user_info_ping_tooltip') }}
{{ macro.line('user_info_os_version', '${ selectedNode.osversion }') }}
{{ macro.line('user_info_mumble_release', '${ selectedNode.release }') }}
<div>
    <span class="key">{{ 'user_info_certificate_hash'|trans }}</span>
    <span v-if="selectedNode.hash" class="value clickable" data-bs-toggle="modal" data-bs-target="#userCertificateModal">${ selectedNode.hash }</span>
    <span v-else class="value">No certificate found</span>
</div>
