
{% use 'Page/Server/Settings/Partial/block.html.twig' %}

{% macro addFormError(form, tabName) %}

    {# Only certificate with pem children produce form error on certificate #}
    {% if tabName == 'certificate' and form.children['new_certificate'].children['pem'] is defined %}
        {% if form.children['new_certificate'].children['pem'].vars.errors|length > 0 %}
            {{ block('tooltip_form_error') }}
        {% endif %}
    {% endif %}

    {% if tabName == 'administration' %}

        {% for child in form.children %}

            {% if child.vars['role'] is defined and child.vars['role'] == 'administration' and child.vars.errors is defined and child.vars.errors|length %}
                {{ block('tooltip_form_error') }}
            {% endif %}

        {% endfor %}

    {% endif %}

    {% if tabName == 'server' %}

        {% for child in form.children %}

            {% if child.vars['role'] is defined and child.vars['role'] == 'all' and child.vars.errors is defined and child.vars.errors|length %}
                {{ block('tooltip_form_error') }}
            {% endif %}

        {% endfor %}

    {% endif %}

{% endmacro %}

<ul id="MumbleSettingsTabs" class="nav nav-tabs" role="tablist">

    <li class="nav-item" role="presentation" {{ _self.addFormError(form, 'server') }}>
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-server" type="button" role="tab" aria-controls="tab-server" aria-selected="true">
            {{ 'server'|trans({}, 'common') }}
        </button>
    </li>

    {% if is_granted('APP_CAN_EDIT_MURMUR_SETTING_TYPE_ADMINISTRATION') %}
        <li class="nav-item" role="presentation" {{ _self.addFormError(form, 'administration') }}>
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-administration" type="button" role="tab" aria-controls="tab-administration" aria-selected="false">
                {{ 'administration'|trans({}, 'common') }}
            </button>
        </li>
    {% endif %}

    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-welcome_text" type="button" role="tab" aria-controls="tab-welcome_text" aria-selected="false">
            {{ form.children.welcometext.vars.label|trans({}, 'settings') }}
        </button>
    </li>

    <li class="nav-item" role="presentation" {{ _self.addFormError(form, 'certificate') }}>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-certificate" type="button" role="tab" aria-controls="tab-certificate" aria-selected="false">
            {{ 'certificate'|trans({}, 'module-certificate') }}
        </button>
    </li>

</ul>
