
<div class="tab-pane show active" id="tab-server" role="tabpanel" aria-labelledby="server-tab">
    {% for children in form %}
        {% if children.vars.role is defined and children.vars.role != 'administration' and not children.rendered %}
            {{ form_row(children) }}
        {% endif %}
    {% endfor %}
</div>
