
{% use 'Module/certificate.html.twig' %}
{% trans_default_domain 'settings' %}

<div class="tab-pane" id="tab-certificate" role="tabpanel" aria-labelledby="certificate-tab">
    <div class="row">
        <div class="col-lg-8">
            {% set certificate = viewModel.certificate %}
            {{ block('certificate') }}
        </div>
        <div class="col-lg-4">
            <div class="text-end">
                <a class="btn btn-primary" href="{{ path('cmd_server_settings_reset_certificate', { 'serverId': viewModel.serverId }) }}">
                    {{ 'reset_certificate'|trans }}
                </a>
            </div>
            {{ form_row(form.new_certificate) }}
        </div>
    </div>
</div>
