
{% if is_granted('APP_CAN_EDIT_MURMUR_SETTING_TYPE_ADMINISTRATION') %}

    <div class="tab-pane" id="tab-administration" role="tabpanel" aria-labelledby="administration-tab">
        {% for children in form %}
            {% if children.vars.role is defined and children.vars.role == 'administration' and not children.rendered %}
                {{ form_row(children) }}
            {% endif %}
        {% endfor %}
    </div>

{% endif %}
