
<div class="tab-content" role="tablist">
    {% include 'Page/Server/Settings/Partial/pane_welcome_text.html.twig' %}
    {% include 'Page/Server/Settings/Partial/pane_certificate.html.twig' %}
    {% include 'Page/Server/Settings/Partial/pane_administration.html.twig' %}
    {% include 'Page/Server/Settings/Partial/pane_default.html.twig' %}
</div>
