{% extends 'Page/base.html.twig' %}

{% trans_default_domain 'server' %}

{% block content_nav %}

    {% if viewModel.hasConnection %}

        {% set server_menu = knp_menu_get('app.server_menu', [], {
            'serverId': viewModel.serverId,
            'isRunning': viewModel.isRunning,
            'connectionUri': viewModel.connectionUri
        }) %}
        {% set server_menu_parameters = {
            'template': 'bundles/KnpMenu/server_menu.html.twig',
            'currentClass': 'active',
            'ancestorClass': 'active',
            'compressed': true,
            'leaf_class': 'nav-link'
        } %}

        {{ knp_menu_render(server_menu, server_menu_parameters) }}

    {% endif %}

{% endblock %}

{% block body %}
    {% if not viewModel.hasConnection %}
        {% include 'Module/AlertBlock/no_murmur_connection.html.twig' %}
    {% elseif viewModel.requireIsRunning and not viewModel.isRunning %}
        {% include 'Module/AlertBlock/server_is_stopped.html.twig' %}
    {% elseif viewModel.hasError %}
        {% include 'Module/AlertBlock/view_model_error.html.twig' %}
    {% else %}
        {% include 'Page/Server/Partial/info_panel.html.twig' with { info_panel_menu_button: block('info_panel_menu_button') ?? '' } %}
        {% block server_is_running %}{% endblock %}
    {% endif %}
{% endblock %}
