
{% extends 'Module/Captions/base.html.twig' %}

{% trans_default_domain 'channels' %}

{% block captions_inner %}
    <img src="{{ asset('assets/img/viewer/status_home_channel.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_default_channel'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/icon_channel_with_link.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_channel_with_link'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/icon_channel_with_direct_link.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_channel_with_direct_link'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/icon_channel_with_indirect_link.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_channel_with_indirect_link'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_channel_has_password.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_channel_has_password'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_temporary_channel.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_temporary_channel'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_comment.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_comment'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_auth.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_auth'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_recording.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_recording'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_priority_speaker.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_priority_speaker'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_suppressed.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_suppressed'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_muted.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_muted'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_deafened.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_deafened'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_selfmute.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_selfmute'|trans() }}" alt="" />
    <img src="{{ asset('assets/img/viewer/status_user_selfdeaf.png') }}" data-bs-toggle="popover" data-bs-content="{{ 'icon_info_user_selfdeaf'|trans() }}" alt="" />
{% endblock %}
