{% extends 'Page/base.html.twig' %}
{% trans_default_domain 'dashboard' %}

{% import "Module/macro.html.twig" as macro %}

{% if view is not empty %}
    {% set serversPagination = view.servers.pagination %}
{% endif %}

{% block modals %}
    {% include 'Page/Dashboard/Partial/Modal/create_server.html.twig' %}
    {% include 'Page/Dashboard/Partial/Modal/send_message.html.twig' %}
    {%  set delete_modal_body_text = 'confirm_delete_server_body'|trans({}, 'Form') %}
    {{ block('modal_delete') }}
{% endblock %}

{% block body %}

    {% if serversPagination is not defined %}
        {% include 'Module/AlertBlock/no_murmur_connection.html.twig' %}
    {% else %}

        <div id="PageDashboardContainer" class="app-container">

            {% include 'Page/Dashboard/Partial/panel_info.html.twig'%}

            {{ knp_pagination_render(serversPagination) }}

            <table id="dashboard-table" class="{{ block('table_css') }}">
                <thead>
                <tr>
                    {# Set a default direction if it's not the current sorted field #}
                    {% set statusParams = serversPagination.isSorted('isBooted') ? {} : {'direction': 'asc'} %}
                    {% set idParams = serversPagination.isSorted('key') ? {} : {'direction': 'asc'} %}
                    <th class="icon">{{ knp_pagination_sortable(serversPagination, 's', 'isBooted', {}, statusParams) }}</th>
                    <th class="id">{{ knp_pagination_sortable(serversPagination, 'id', 'key', {}, idParams) }}</th>
                    <th class="selection">{{ 'table_th_servers'|trans() }}</th>
                    <th class="icon"></th>
                    <th class="users">{{ 'table_th_users'|trans() }}</th>
                    <th class="icon"></th>
                    <th class="icon"></th>
                </tr>
                </thead>
                <tbody>
                {% for serverData in serversPagination %}
                    <tr data-server="{{ serverData.id }}">

                        <td class="icon">
                            {% set color = serverData.isBooted ? 'online' : 'offline' %}
                            <i class="fas fa-power-off {{ color }}" aria-hidden="true"></i>
                        </td>

                        <td class="id">{{ serverData.id }}</td>

                        <td class="selection">
                            <a href="{{ path('server_channels', {'serverId': serverData.id}) }}">
                                <div class="top">
                                    <strong class="pre">{{ serverData.serverName }}</strong>
                                </div>
                                <div class="bottom">
                                    {{ serverData.host }}:{{ serverData.port }}
                                    {% if serverData.startedAt is defined %}
                                        {{ macro.uptime(serverData.startedAt) }}
                                    {% endif %}
                                </div>
                            </a>
                        </td>

                        <td class="icon">
                            {% if serverData.url is defined %}
                                <a href="{{ serverData.url }}">
                                    <img src="{{ asset('assets/img/mumble-32x32.png') }}" alt=""/>
                                </a>
                            {% endif %}
                        </td>

                        <td class="users">
                            {% if serverData.usersOnline is defined %}
                                {{ serverData.usersOnline }}
                            {% endif %}
                        </td>

                        {% set color = serverData.webAccessEnabled ? 'online' : 'offline' %}
                        <td class="icon">
                            <i class="fas fa-globe {{ color }}" aria-hidden="true"></i>
                        </td>

                        <td class="icon">
                            {{ include('Page/Dashboard/Partial/menu_action.html.twig') }}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(serversPagination) }}
        </div>

    {% endif %}

{% endblock %}
