{% extends 'Page/base.html.twig' %}
{% trans_default_domain 'dashboard' %}

{% use 'Module/certificate.html.twig' %}

{% block body %}

    {% if not viewModel.hasConnection %}
        {% include 'Module/AlertBlock/no_murmur_connection.html.twig' %}
    {% else %}

    <div  id="PageMurmurDefaultConfigContainer" class="app-container row">

        <h6>{{ 'table_th_murmur_defaut_config'|trans() }}</h6>

        <div class="col-md-6 table-responsive mb-3">
            <table id="table-murmur-default-config" class="table table-striped table-bordered table-sm">
                <tbody>
                    {% for parameter,value in viewModel.defaultConfiguration %}
                        <tr>
                            <td>
                                <span class="parameter">{{ parameter }}</span>
                                <span class="value">{{ value }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6 mb-3">
            {% set certificate = viewModel.certificateInformation %}
            {{ block('certificate') }}
        </div>

        {% if viewModel.key is not empty or viewModel.certificate is not empty %}
            <div class="col-12 mb-3">
                <details>
                    <summary>Key & Certificate:</summary>
                        <pre>{{- viewModel.key -}}</pre>
                        <pre>{{- viewModel.certificate -}}</pre>
                </details>
            </div>
        {% endif %}

    </div>

    {% endif %}

{% endblock %}
