
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'admins' %}

{% set modalId = 'createAdmin' %}
{% set form = createAdminForm %}

{% set modalCss = 'reload-on-success' %}

{% block modal_form_title %}
    {{ 'create_admin'|trans }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.login) }}
    {{ form_row(form.email) }}
    {{ form_row(form.role) }}
    {{ form_row(form.password) }}
{% endblock %}
