{% extends '@!Security/Collector/security.html.twig' %}

{# Overriding only the toolbar #}
{% block toolbar %}
    {% if collector.token %}
        {% set is_authenticated = collector.enabled and collector.authenticated  %}
        {% set color_code = is_authenticated ? '' : 'yellow' %}
    {% else %}
        {% set color_code = collector.enabled ? 'red' : '' %}
    {% endif %}

    {% set icon %}
        {{ include('@Security/Collector/icon.svg') }}
        <span class="sf-toolbar-value">{{ collector.user|default('n/a') }}</span>
    {% endset %}

    {% set text %}

        {# Custom : Adding this block to switch users with the profiler menu #}
            {% include 'bundles/SecurityBundle/Collector/switch-user.html.twig' %}
        {# End custom #}

        {% if collector.impersonated %}
            <div class="sf-toolbar-info-group">
                <div class="sf-toolbar-info-piece">
                    <b>Impersonator</b>
                    <span>{{ collector.impersonatorUser }}</span>
                </div>
            </div>
        {% endif %}

        <div class="sf-toolbar-info-group">
            {% if collector.enabled %}
                {% if collector.token %}
                    <div class="sf-toolbar-info-piece">
                        <b>Logged in as</b>
                        <span>{{ collector.user }}</span>
                    </div>

                    <div class="sf-toolbar-info-piece">
                        <b>Authenticated</b>
                        <span class="sf-toolbar-status sf-toolbar-status-{{ is_authenticated ? 'green' : 'red' }}">{{ is_authenticated ? 'Yes' : 'No' }}</span>
                    </div>

                    <div class="sf-toolbar-info-piece">
                        <b>Token class</b>
                        <span>{{ collector.tokenClass|abbr_class }}</span>
                    </div>
                {% else %}
                    <div class="sf-toolbar-info-piece">
                        <b>Authenticated</b>
                        <span class="sf-toolbar-status sf-toolbar-status-red">No</span>
                    </div>
                {% endif %}

                {% if collector.firewall %}
                    <div class="sf-toolbar-info-piece">
                        <b>Firewall name</b>
                        <span>{{ collector.firewall.name }}</span>
                    </div>
                {% endif %}

                {% if collector.token and collector.logoutUrl %}
                    <div class="sf-toolbar-info-piece">
                        <b>Actions</b>
                        <span>
                            <a href="{{ collector.logoutUrl }}">Logout</a>
                            {% if collector.impersonated and collector.impersonationExitPath %}
                                | <a href="{{ collector.impersonationExitPath }}">Exit impersonation</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% else %}
                <div class="sf-toolbar-info-piece">
                    <span>The security is disabled.</span>
                </div>
            {% endif %}
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: color_code }) }}
{% endblock %}
