
{% set users = ['RootAdmin', 'Admin', 'SuperUser', 'SuperUser_Ru', 'Mumble'] %}

<div class="sf-toolbar-info-group">
    <div class="sf-toolbar-info-piece">
        {% for user in users %}
            <span>
                <a href="?_switch_user={{ user }}">{{ user }}</a>
            </span>
            <br />
        {% endfor %}
    </div>
</div>
