{% extends 'Page/base.html.twig' %}

{% trans_default_domain 'admins' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'Assets/dataTables.css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Assets/dataTables.js.html.twig' %}
{% endblock %}

{% block modals %}
    {% include 'Page/Administration/Admins/Partial/Modal/create_admin.html.twig' %}
    {%  set delete_modal_body_text = 'delete_admin_comfirmation_text'|trans() %}
    {{ block('modal_delete') }}
{% endblock %}

{% block body %}

    <div id="AdminsContainer" class="app-container">

        <div class="app-container-menu">

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAdminModal" title="{{ 'create_admin'|trans() }}">
                <i class="fas fa-plus"></i>
            </button>

        </div>

        <table id="table-admin-users" class="{{ block('table_css') }} dataTables">
            <thead>
                <tr>
                    <th class="id" data-type="num"></th>
                    <th class="role">{{ 'Role'|trans() }}</th>
                    <th class="selection">{{ 'Login'|trans() }}</th>
                    <th class="icon" data-sortable="false"></th>
                </tr>
            </thead>
            <tbody>
            {% for admin in view.admins %}
                <tr>
                    <td class="id">{{ admin.id }}</td>
                    <td class="role role-{{ admin.roleName }}">{{ admin.roleName }}</td>
                    <td class="selection"><a href="{{ path('administration_admin_edit', {'id': admin.id }) }}">{{ admin.username }}</a></td>
                    <td class="icon">
                        {% set action = path('cmd_delete_admin', { 'id': admin.id }) %}
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" data-name="{{ admin.username }}" data-action="{{ action }}" title="{{ 'delete_admin'|trans }}">
                            {{ block('icon_delete') }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
