{% extends 'Page/base.html.twig' %}

{% form_theme form 'Form/bootstrap_4_horizontal_layout.html.twig' %}

{% trans_default_domain 'admins' %}

{% block body %}

    <div id="AdminsContainer" class="app-container">

        <div class="app-container-menu">

            <a href="{{ path('administration_admins') }}" class="btn btn-primary" title="{{ 'back_to_admins'|trans }}">
                {{ block('icon_back') }}
            </a>

        </div>

        <div class="form-container">
            {{ form_start(form) }}
            {{ form_row(form.login) }}
            {{ form_row(form.email) }}
            {{ form_row(form.role) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
