
{% block info_block %}
    <div class="alert alert-info">
        <i class="fas fa-info-circle"></i>
        {{ info_block_text }}
    </div>
{% endblock info_block %}

{% block alert_warning_block %}
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-info-circle"></i>
        {{ alert_warning_block_text }}
    </div>
{% endblock alert_warning_block %}

{% block debug_environment_block -%}
    <div class="alert alert-warning col-12" role="alert">

        <h6>
            <i class="fas fa-info-circle"></i>
            Debug
        </h6>

        <p class="pre font-monospace small" style="overflow-x: auto;">
            {{ alert_debug_environment_block_text }}
        </p>

    </div>
{%- endblock debug_environment_block %}

{% block table_css -%}
    table table-responsive-lg table-striped table-bordered table-hover
{%- endblock table_css %}

{% block icon_certificate %}fas fa-id-card-alt primary-color{% endblock icon_certificate %}

{% block close_modal_button %}
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close'|trans({}, 'common') }}"></button>
{% endblock close_modal_button %}

{% block cancel_modal_button %}
    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="{{ 'cancel'|trans({}, 'Form') }}">
        {{ 'cancel'|trans({}, 'Form') }}
    </button>
{% endblock cancel_modal_button %}

{% block modal_delete %}
    {% include 'Partial/Modal/delete.html.twig' %}
{% endblock modal_delete %}

{% block icon_delete %}
    <i class="fas fa-trash trash"></i>
{% endblock icon_delete %}

{% block icon_back %}
    <i class="fas fa-chevron-left"></i>
{% endblock icon_back %}
