
{% trans_default_domain 'module-certificate' %}

{% block certificate -%}

    {% if certificate is empty %}
        <strong>{{ 'no_certificate'|trans }}</strong>
    {% else %}

        <div class="certificate">

            {% for title,subArray in certificate %}
                <div class="title">
                    {{ title }}
                </div>
                <section>
                    {% if title == 'error' %}
                        {{ subArray }}
                    {% else %}
                        {% for parameter,value in subArray %}
                            <div>
                                <span class="parameter">{{ parameter }} :</span>
                                <span class="value">{{ value is date ? value|format_datetime('long') : value }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </section>
            {% endfor %}

        </div>

    {% endif %}

{%- endblock certificate %}
