
{% macro uptime(uptime) %}
    {% set startedAt = uptime|format_datetime('long') %}
    <time class="uptime" data-bs-tooltip="popover" data-bs-content="{{ 'uptime_started_at'|trans({'%date%': startedAt}, 'common') }}">
        ({{ uptime|ago }})
    </time>
{% endmacro uptime %}
