
{% trans_default_domain 'server-menu' %}

{% set cmd_path = serverIdRunning ? 'cmd_stopServer' : 'cmd_startServer' %}
{% set status = serverIdRunning ? 'online' : 'offline' %}
{% set button_color = status %}

{% if is_granted('APP_CAN_EDIT_SERVER_STATUS') %}
    {% set title_text = serverIdRunning ? 'stop_the_server' : 'start_the_server' %}
    {% apply spaceless %}
        <a href="{{ path(cmd_path, { 'serverId': serverId }) }}" class="img-button" title="{{ title_text|trans }}">
            <i class="fas fa-power-off {{ button_color }}" aria-hidden="true"></i>
        </a>
    {% endapply %}
{% else %}
    {% set title_text = 'server_is_'~status %}
    <i class="fas fa-power-off {{ button_color }}" aria-hidden="true" title="{{ title_text|trans }}"></i>
{% endif %}
