{% extends 'Page/Security/base.html.twig' %}

{% trans_default_domain 'forgotten_password' %}

{% form_theme form 'Form/bootstrap_4_floating_layout.html.twig' %}

{% block app_security_title -%}
    {{ 'retrieve_your_password'|trans }}
{%- endblock %}

{% block app_security_body -%}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{%- endblock %}
