{% extends 'Page/Security/base.html.twig' %}

{% trans_default_domain 'login' %}

{% form_theme form 'Form/bootstrap_4_floating_layout.html.twig' %}

{% block app_security_title -%}
    {{ 'authentication'|trans }}
{%- endblock %}

{% block app_security_body -%}
    {{ form_start(form) }}
    {{ form_end(form) }}
{%- endblock %}

{% block app_security_footer -%}
    {{ 'need_account'|trans }} <a href="register.html">{{ 'register'|trans }}</a>
{%- endblock app_security_footer %}
