
{% extends 'Module/AlertBlock/base_centered_message.html.twig' %}

{% use 'Module/block.html.twig' %}

{% block centered_message_inner -%}

    <div class="alert alert-danger">

        <h6>{{ 'error'|trans({},'common') }}</h6>

        {% if viewModel is defined and viewModel.hasError %}
            {% set error = viewModel.getErrorMessage %}
            {{ error['key']|trans({}, error['translationDomain']) }}
        {% else %}
            {{ 'no_connection_to_murmur_found'|trans({}, 'Messages') }}
        {% endif %}

    </div>

    {% if app.environment == 'dev' and viewModel is defined and viewModel.getDebug() is not empty %}

        {% set alert_debug_environment_block_text = viewModel.debug %}
        {{ block('debug_environment_block') }}

    {% endif %}

{%- endblock %}
