
{% extends 'Module/AlertBlock/base_centered_message.html.twig' %}

{% trans_default_domain 'server' %}

{% block centered_message_inner %}
    <div class="alert alert-info">
        <h6>{{ 'server_is_stopped'|trans }}</h6>
        {{ 'server_is_stopped_info'|trans }}
    </div>
{% endblock %}
