{% extends 'Page/base.html.twig' %}

{% trans_default_domain 'logs' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Assets/vue.js.html.twig' %}
    <script>const logs = {{ data.getJsonLogs|raw }};</script>
    <script src="{{ asset('assets/vue/AdminLogs.vue.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div id="AdminLogsContainer" class="app-container logs">
        {{ include('Module/VueTemplate/logs.html.twig') }}
    </div>
{% endblock %}
