
{% extends 'Page/Server/server.html.twig' %}
{% trans_default_domain 'registration' %}

{% form_theme form 'Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block info_panel_menu_button %}
    {% set path = path('server_registration', { 'serverId': viewModel.serverId, 'id': viewModel.registration.id }) %}
    <a href="{{ path }}" class="btn btn-sm btn-primary" title="{{ 'cancel'|trans({}, 'Form') }}">
        {{ block('icon_back') }}
    </a>
{% endblock %}

{% block server_is_running %}
    <div id="MumbleRegistrationContainer" class="app-container">
        <div class="form-container">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.description) }}
                <fieldset>
                    {{ form_row(form.plainPassword) }}
                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
