
{% extends 'Page/Server/server.html.twig' %}
{% trans_default_domain 'registrations' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'Assets/dataTables.css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Assets/dataTables.js.html.twig' %}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {%  set delete_modal_body_text = 'delete_registration_comfirmation_text'|trans() %}
    {{ block('modal_delete') }}
{% endblock %}

{% block server_is_running %}

    <div id="MumbleRegistrationsContainer" class="app-container">
        <table id="table-registrations" class="{{ block('table_css') }} dataTables">
            <thead>
                <tr>
                    <th class="icon"></th>
                    <th class="id"></th>
                    <th class="username">{{ 'username'|trans({}, 'common') }}</th>
                    <th>{{ 'email_address'|trans({}, 'common') }}</th>
                    <th class="lastActivity">{{ 'last_activity'|trans({}, 'common') }}</th>
                    <th class="icon"></th>
                    <th class="icon"></th>
                    <th class="icon" data-sortable="false"></th>
                </tr>
            </thead>
            <tbody>
                {% for registration in viewModel.registrations %}
                    <tr>
                        {% set status = registration.status ? 'online' : 'offline' %}
                        <td class="icon" data-order="{{ status }}" {% if 'online' == status %}title="{{ 'the_user_is_online'|trans }}{% endif %}">
                            <i class="fas fa-square {{ status }}"></i>
                        </td>
                        <td class="id">
                            {{ registration.id }}
                        </td>
                        <td class="selection">
                            <a href="{{ path('server_registration', {'serverId': viewModel.serverId, 'id': registration.id }) }}">
                                <span class="username">{{ registration.username }}</span>
                            </a>
                        </td>
                        <td class="email">
                            {{ registration.email }}
                        </td>
                        <td>
                            {% if registration.lastActivity is not empty %}
                                {{ registration.lastActivity|format_datetime('short') }}
                            {% endif %}
                        </td>
                        <td class="icon">
                            {% if registration.description is not empty %}
                                <img src="{{ asset('assets/img/viewer/status_comment.png') }}" title="{{ 'the_registration_has_a_description'|trans }}" alt="" />
                            {% endif %}
                        </td>
                        <td class="icon">
                            {% if registration.certificate is not empty %}
                                <i class="{{ block('icon_certificate') }}" title="{{ 'the_registration_has_a_certificate'|trans }}"></i>
                            {% endif %}
                        </td>
                        <td class="icon">
                            {% if registration.id > 0 %}
                                {% set action = path('cmd_server_registration_delete', { 'serverId': viewModel.serverId, 'id': registration.id }) %}
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" data-name="{{ registration.username }}" data-action="{{ action }}" title="{{ 'delete_the_registration'|trans }}">
                                    {{ block('icon_delete') }}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
