
{% extends 'Page/Server/server.html.twig' %}
{% trans_default_domain 'common' %}

{% block info_panel_menu_button %}
    <a href="{{ path('server_registration_edit', {'serverId': viewModel.serverId, 'id': viewModel.registration.id }) }}" class="btn btn-sm btn-secondary" title="{{ 'edit'|trans({}, 'registration') }}">
        <i class="far fa-edit"></i>
    </a>
    <a href="{{ path('server_registrations', { 'serverId': viewModel.serverId }) }}" class="btn btn-sm btn-primary" title="{{ 'back'|trans({}, 'registration') }}">
        {{ block('icon_back') }}
    </a>
{% endblock %}

{% block server_is_running %}

    <div id="MumbleRegistrationContainer" class="app-container">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <strong>id</strong> :
                        {{ viewModel.registration.id }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{ 'status'|trans }}</strong> :
                        {{ viewModel.registration.status ? 'online'|trans : 'offline'|trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{ 'username'|trans }}</strong> :
                        {{ viewModel.registration.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{ 'email_address'|trans }}</strong> :
                        {{ viewModel.registration.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{ 'last_activity'|trans }}</strong> :
                        {% if viewModel.registration.lastActivity is not empty %}
                            {{ viewModel.registration.lastActivity|format_datetime('full') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            {% if viewModel.avatar is not null %}
                                <div class="col-sm-5 col-md-4 avatar">
                                    <img src="{{ viewModel.avatar }}" class="img-thumbnail" alt="avatar" />
                                </div>
                            {% endif %}

                            <div class="col-sm-7 col-md-8">
                                {{ viewModel.registration.description|raw_without_javascript }}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
