
{% use 'Partial/Item/flag_img.html.twig' %}

<div id="locales-menu" class="navbar-nav dropdown">

    <a id="locales-menu-button" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">
        {% set flag = localesMenu[0] %}
        {{ block('flag_item_img') }}
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="locales-menu-button">

        {% for flag in localesMenu -%}

            <li id="locale-id-{{ flag.id }}">

                {%- if flag.selected -%}

                    <div class="dropdown-item">
                        {{ block('flag_item_img') }}
                        <span class="ms-1 me-3">{{ flag.name }}</span>
                        <i class="fas fa-check text-success"></i>
                    </div>

                {%- else -%}

                    <a class="dropdown-item" href="{{ path('cmd_options_locale', { 'locale': flag.id }) }}">
                        {{ block('flag_item_img') }}
                        <span class="ms-1 me-3">{{ flag.name }}</span>
                    </a>
                {%- endif -%}

            </li>

            {% if flag.selected -%}
                <div class="dropdown-divider"></div>
            {%- endif %}

        {%- endfor %}

    </ul>
</div>
