
<div id="sticky-flash-messages" class="d-flex flex-column align-items-end">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% set auto_close = (label == 'success') ? 'app-auto-close' : '' %}
            <div class="alert alert-{{ label }} alert-dismissible fade show app-flash {{ auto_close }}" role="alert">
                {{ message }}
                <button type="button" class="btn-close small" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

</div>
