
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="text-center d-sm-flex align-items-center justify-content-between small">
            <div class="text-muted">
                PhpMumbleAdmin -
                <script>document.write(new Date().getFullYear());</script>
            </div>
        </div>
    </div>
</footer>
