
{% trans_default_domain 'servers-nav' %}

{# construct the server cache before call the get_servers_list_cache_uptime #}
{% set servers = get_servers_list() %}
{% set cacheUptime = get_servers_list_cache_uptime() %}

<nav id="servers-nav" class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center">

        {% if viewModel.serverName is defined %}
            <div id="servers-nav-title">
                <span class="id">{{ viewModel.serverId }}</span>
                <span class="hashtag">#</span>
                <span class="name">{{ viewModel.serverName }}</span>
            </div>
        {% endif %}

        <div id="servers-nav-selection" class="d-flex align-items-center">
            <div>
            <a href="{{ path('cmd_servers_nav_refresh_server_list') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-sync-alt"></i>
            </a>
            </div>
            <form action="{{ path('cmd_servers_nav_select_server') }}" id="select-server">
                <select name="select_server_id">
                    <option value="">{{ 'select_a_server'|trans }} ({{ cacheUptime }})</option>
                    {% for server in servers -%}
                        {%- set current = viewModel.serverId is defined and (server.id == viewModel.serverId)  -%}
                        <option value="{{ server.id }}" {% if current %}disabled="disabled"{% endif %}>{{ server.id }} - {{ server.name|raw }}</option>
                    {%- endfor %}
                </select>
            </form>
        </div>

    </div>
</nav>
