
{{ knp_menu_render('app.sidenav_menu', {
    'template': 'bundles/KnpMenu/side_nav.html.twig',
    'currentClass': 'active',
    'ancestorClass': 'active',
    'compressed': true,
    'leaf_class': 'nav-link'
}) }}
