
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <a class="navbar-brand ps-3" href="{{ path('dashboard') }}">phpMumbleAdmin</a>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 shadow-none" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
    {% endif %}

    <div class="d-none d-sm-block ms-auto">
        {% include 'Partial/flags.html.twig' %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <ul id="user-menu" class="navbar-nav me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('profile') }}">User Profile</a>
                    <a class="dropdown-item" href="{{ path('settings') }}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}" data-bs-toggle="modal" data-bs-target="#logoutModal">
                        {{ 'logout'|trans({}, 'Form') }}
                    </a>
                </div>
            </li>
        </ul>

    {% endif %}

</nav>
