{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% trans_default_domain 'http-error' %}

{% set error_server_message = '403 Forbidden' %}

{% block error_body %}
    <p>
        {{ 'you_are_not_authorized_to_access_this_resource'|trans }}<br />
        <a href="{{ path('dashboard') }}">{{ 'return_to_the_homepage'|trans }}</a>
    </p>
{% endblock %}
