{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% trans_default_domain 'http-error' %}

{% set error_server_message = '404 Not Found' %}

{% block error_body %}
    <p>
        {{ 'the_requested_page_couldnt_be_located'|trans }}<br />
        <a href="{{ path('dashboard') }}">{{ 'return_to_the_homepage'|trans }}</a>
    </p>
{% endblock %}
