
.app-container {
    flex: 1 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    .app-container-menu {
        margin: 25px 0;
        background-color: $gray-100;
        text-align: right;
    }
}
