
$server-menu-breakpoint: $min-width-md;

#content {
    padding: 15px;
    #content_nav {
        margin-bottom: 10px;
        background-color: $gray-200;
        @media #{$min-width-xs} {
            padding: 0 5px;
        }
        ul {
            & > li {
                display: block;
                @media #{$server-menu-breakpoint} {
                    display: inline-block;
                }
                ul {
                    text-align: center;
                    @media #{$server-menu-breakpoint} {
                        text-align: initial;
                    }
                    & > li {
                        display: inline-block;
                    }
                }
                &.nav-link {
                    padding: 0;
                    margin-right: 2rem;
                    a {
                        padding: 0.1rem 0;
                        border-bottom: 3px solid transparent;
                        &:hover {
                            border-color: $orange;
                        }
                    }
                    &.active {
                        a {
                            border-color: $link-color;
                        }
                    }
                    .img-button {
                        padding: 0.1rem;
                        border: 3px solid transparent;
                        img {
                            height: 18px;
                            vertical-align: text-top;
                        }
                    }
                }
                &.connection-button {
                    float: right;
                    margin-right: 0;
                }
            }
        }
    }
}
