
.container-error {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    border: 2px solid #dc3545;
    border-radius: 3px;
    padding: 10px;
    @media #{$min-width-lg} {
        padding: 40px;
    }
    @media #{$min-width-xl} {
        max-width: 75%;
    }

    .error-title {
        text-transform: capitalize;
        color: #dc3545;
        @media #{$min-width-sm} {
            line-height: 2;
        }
    }
    .error-header {
        @media #{$min-width-sm} {
            line-height: 2;
        }
    }
    .error-body {
        p {
            line-height: 1.5;
        }
    }
}
