
#PageDashboardContainer {
    #info-panel {
        /* Remove from _info-panel.scss */
        margin-top: 0;
    }
    table#dashboard-table {
        thead {
            th {
                &.selection {
                    @media #{$min-width-lg} {
                        width: 40%;
                    }
                    @media #{$min-width-xl} {
                        width: 70%;
                    }
                }
                &.users {
                    width: 100px;
                }
            }
        }
        tbody {
            td {
                &.selection {
                    padding: 0 10px;
                    a {
                        padding: 5px 0;
                        div {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            height: 25px;
                            &.top {
                                color: $gray-700;
                            }
                            &.bottom {
                                color: $gray-600;
                            }
                        }
                    }
                }
                &.users {
                    text-align: right !important;
                }
            }
            /* Removing arrow from bootstrap */
            .dropdown-toggle::after {
                content: none;
            }
        }
    }
}
