
#MumbleRegistrationsContainer {
    table {
        th.lastActivity {
            width: 200px
        }
        td {
            &.selection {
                a {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    .username {
                        white-space: pre;
                    }
                }
            }
            &.email {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .certificate {
            color: $link-color;
        }
    }
}
