
#MumbleViewerContainer {
    #MumbleViewerPanel {
        .btn {
            &.channel {
                background-color: $maroon;
                color: $white;
                &.btn-animation-on-select {
                    background-color: darken($maroon, 10);
                }
            }
            &.user {
                background-color: $orange;
                &.btn-animation-on-select {
                    background-color: darken($orange, 10);
                }
            }
        }
        .comment {
            text-align: initial;
            margin: 20px 0;
            border: 2px dotted #b2b2b2;
            background-color: $color-comment;
            height: 200px;
            padding: 5px;
            overflow: auto;
        }
        .infos {
            font-weight: bold;
            overflow: hidden;
            i {
                color: $link-color;
            }
            .key {
                &:after {
                    content: ':';
                    margin: 0 5px;
                }
            }
            .value {
                color: darkred;
            }
        }
    }
    .updateDatasError {
        margin-bottom: 15px;
        @media #{$min-width-sm} {
            margin-bottom: initial;
        }
        .message {
            display: none;
            &.show {
                display: block;
            }
            font-size: 13px;
            padding: 0.5rem;
            background-color: pink;
            border: 1px solid darken(pink, 10);
        }
    }
    .MumbleViewer {
        cursor: default;
        line-height: 0;
        .user {
            font-weight: bold;
            color: #8C3D44;
        }
        div {
            cursor: pointer;
            height: 16px;
            &.selected {
                background-color: $orange;
            }
            a {
                display: block;
                text-decoration: none;
            }
            .branchArea {
                float: left;
            }
            .icon {
                float: left;
            }
            .name {
                display: block;
                overflow: hidden;
                white-space: pre;
                font-size: 14px;
                // MEMO: Center the text vertically
                line-height: 16px;
                padding-left: 5px;
                &.drop-hover {
                    outline-style: dotted;
                    outline-width: 1px;
                    background-color: rgba(149, 185, 199, 0.5);
                }
                // For the futur...
                //&.isNotDroppable {
                //    outline-style: dotted;
                //    outline-width: 1px;
                //    outline-color: red;
                //    background-color: rgba(255, 91, 91, 0.5);
                //}
            }
            .statusArea {
                float: right;
            }
        }
        &.actionMode {
            background-color: #ffdde2;
            .channel:hover {
                background-color: pink;
            }
            .disabled {
                background-color: #e3e3e3;
            }
        }
    }
}
