
#AdminsContainer {
    th {
        &.role {
            width: 175px !important;
        }
        &.selection {
            width: 100%;
        }
    }
    td {
        &.role {
            &.role-SuperAdmin {
                color: darkblue;
            }
            &.role-RootAdmin {
                color: orangered;
            }
            &.role-Admin {
                color: darkgreen;
            }
        }
    }
}
