
#PageMurmurDefaultConfigContainer {
    table {
        font-size: 14px;
        td {
            text-align: left;
            padding: 2px 10px;
            .parameter {
                font-weight: bold;
                &:after {
                    content: ' : ';
                }
            }
            .value {
                color: $app-darkred;
                word-break: break-word;
                display: block;
                @media #{$min-width-md} {
                    display: initial;
                }
            }
        }
    }
}
