
{% include 'Page/Server/Channels/Partial/Modal/create_channel.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/delete_channel.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/edit_channel.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/send_message_to_channel.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/kick_user.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/ban_user.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/send_message_to_user.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/modify_user_name.html.twig' %}
{% include 'Page/Server/Channels/Partial/Modal/user_certificate.html.twig' %}
<div class="d-none">
    {{ form(forms.activatePrioritySpeaker) }}
    {{ form(forms.deactivatePrioritySpeaker) }}
    {{ form(forms.linkChannel) }}
    {{ form(forms.unlinkChannel) }}
    {{ form(forms.moveChannel) }}
</div>
