
{% trans_default_domain 'channels' %}

<div
    v-for="Node in MumbleTree.nodes"
    :key="Node.nodeid"
    :class="[{ selected: Node.nodeid === selectedNode.nodeid }, Node.class, { disabled: Node.disableAction }]"
    @click="selectedNodeAction(Node.nodeid);"
>
    <span class="branchArea">
        <template v-for="deep in Node.deepBag">
            <img v-if="deep === 'space'" src="{{ asset('assets/img/viewer/space.png') }}" alt="" />
            <img v-else-if="deep === 'tree_last'" src="{{ asset('assets/img/viewer/tree_last.png') }}" alt="" />
            <img v-else-if="deep === 'tree_line'" src="{{ asset('assets/img/viewer/tree_line.png') }}" alt="" />
            <img v-else-if="deep === 'tree_mid'" src="{{ asset('assets/img/viewer/tree_mid.png') }}" alt="" />
        </template>
    </span>
    <span class="statusArea">
        <img src="{{ asset('assets/img/viewer/space.png') }}" alt="" />
        <template v-for="status in Node.statusBag">
            <img v-if="status === 'status_has_comment'" src="{{ asset('assets/img/viewer/status_comment.png') }}" alt="" />
            <img v-else-if="status === 'status_chanel_is_default'" src="{{ asset('assets/img/viewer/status_home_channel.png') }}" alt="status_home_channel" />
            <img v-else-if="status === 'status_chan_temp'" src="{{ asset('assets/img/viewer/status_temporary_channel.png') }}" alt="" />
            <img v-else-if="status === 'status_chan_has_password'" src="{{ asset('assets/img/viewer/status_channel_has_password.png') }}" alt="" />
            <img v-else-if="status === 'status_user_auth'" src="{{ asset('assets/img/viewer/status_user_auth.png') }}" alt="" />
            <img v-else-if="status === 'status_user_recording'" src="{{ asset('assets/img/viewer/status_user_recording.png') }}" alt="" />
            <img v-else-if="status === 'status_user_with_priority_speaker'" src="{{ asset('assets/img/viewer/status_user_priority_speaker.png') }}" alt="status_user_with_priority_speaker" />
            <img v-else-if="status === 'status_user_suppressed'" src="{{ asset('assets/img/viewer/status_user_suppressed.png') }}" alt="" />
            <img v-else-if="status === 'status_user_muted'" src="{{ asset('assets/img/viewer/status_user_muted.png') }}" alt="" />
            <img v-else-if="status === 'status_user_deafened'" src="{{ asset('assets/img/viewer/status_user_deafened.png') }}" alt="" />
            <img v-else-if="status === 'status_user_selfmute'" src="{{ asset('assets/img/viewer/status_user_selfmute.png') }}" alt="" />
            <img v-else-if="status === 'status_user_selfdeaf'" src="{{ asset('assets/img/viewer/status_user_selfdeaf.png') }}" alt="" />
        </template>
    </span>
    <div :id="Node.nodeid" class="tree-draggable-item">
        <img v-if="Node.isDirectLink" class="icon" src="{{ asset('assets/img/viewer/icon_channel_with_direct_link.png') }}" alt="isDirectLink" />
        <img v-else-if="Node.isIndirectLink" class="icon" src="{{ asset('assets/img/viewer/icon_channel_with_indirect_link.png') }}" alt="isIndirectLink" />
        <img v-else-if="Node.icon === 'icon_root_channel'" class="icon" src="{{ asset('assets/img/viewer/icon_root_channel.png') }}" alt="icon_root_channel" />
        <img v-else-if="Node.icon === 'icon_channel'" class="icon" src="{{ asset('assets/img/viewer/icon_channel.png') }}" alt="icon_channel" />
        <img v-else-if="Node.icon === 'icon_user'" class="icon" src="{{ asset('assets/img/viewer/icon_user.png') }}" alt="icon_user" />
        <img v-else-if="Node.icon === 'icon_channel_with_link'" class="icon" src="{{ asset('assets/img/viewer/icon_channel_with_link.png') }}" alt="icon_channel_with_link" />
        <span class="name">${Node.name}</span>
    </div>
</div>
