
{% trans_default_domain 'channels' %}

<template v-if="selectedNode.class === 'channel'">
    {% include 'Page/Server/Channels/Partial/ViewerInfos/channel.html.twig' %}
</template>

<template v-if="selectedNode.class === 'user'">
    {% include 'Page/Server/Channels/Partial/ViewerInfos/user.html.twig' %}
</template>
