{% extends 'Mail/base.html.twig' %}

{% trans_default_domain 'forgotten_password' %}

{% block header %}{% endblock %}

{% block body %}

    <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
        <tr>
            <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" style="color: #343434; font-size: 20px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;" class="main-header">


                <div style="line-height: 35px">

                    <span style="color: #5caad2;">{{ 'email_title'|trans }}</span>

                </div>
            </td>
        </tr>

        <tr>
            <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
        </tr>

        <tr>
            <td align="center">
                <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                    <tr>
                        <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
        </tr>

        <tr>
            <td align="center">
                <table border="0" width="400" align="center" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td align="center" style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">

                            <div style="line-height: 24px;">{{ 'email_body'|trans }}</div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
        </tr>

        <tr>
            <td align="center">
                <table border="0" align="center" cellpadding="5" cellspacing="0" bgcolor="5caad2" style="">

                    <tr>
                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center" style="color: #ffffff; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 10px;">

                            <div style="line-height: 10px;">
                                <a href="{{ url('app_forgotten_password_reset', { 'hash': hash }) }}" style="color: #ffffff; text-decoration: none; text-transform: uppercase;">
                                    {{ 'email_button'|trans }}
                                </a>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td height="25" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
        </tr>


    </table>

{% endblock %}
