
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% set modalId = 'createServer' %}
{% set form = forms[modalId] %}

{% set modalCss = 'reload-on-success' %}

{% block modal_form_title %}
    {{ 'create_server_title'|trans({}, 'form-create-server') }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.registername) }}
    {{ form_row(form.password) }}
    {{ form_row(form.users) }}
{% endblock %}
