
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'channels' %}

{% set modalId = 'banUser' %}
{% set form = forms[modalId] %}

{% block modal_form_title %}
    {{ 'ban_user'|trans }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.reason) }}
    {{ form_row(form.endDate) }}
{% endblock %}
