
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% use "Module/block.html.twig" %}
{% trans_default_domain 'channels' %}

{% set modalId = 'createChannel' %}
{% set form = forms[modalId] %}

{% block modal_form_title %}
    {{ 'create_channel'|trans }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.name) }}
{% endblock %}
