
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'channels' %}

{% set modalId = 'deleteChannel' %}
{% set form = forms[modalId] %}

{% set modalTheme = 'alert' %}

{% block modal_form_body_fields %}
    {{ 'delete_channel_comfirmation_text'|trans }}
{% endblock %}
