
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% use "Module/block.html.twig" %}
{% trans_default_domain 'channels' %}

{% set modalId = 'modifyUserName' %}
{% set form = forms[modalId] %}

{% block modal_form_title %}
    {{ 'modify_user_name'|trans }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.newName) }}

    {% set info_block_text = 'modify_user_name_info'|trans %}
    {{ block('info_block') }}
{% endblock %}
