
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'channels' %}

{% set modalId = 'sendMessageToUser' %}
{% set form = forms[modalId] %}

{% block modal_form_title %}
    {{ 'send_private_message'|trans }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.message) }}
{% endblock %}
