
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'channels' %}

{% set modalId = 'sendMessageToChannel' %}
{% set form = forms[modalId] %}

{% block modal_form_title %}
    {{ 'send_message'|trans }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.message) }}
    {{ form_row(form.toSubChannels) }}
{% endblock %}
