
{% use "Module/block.html.twig" %}

{% set modalId = 'userCertificate' %}

<div id="{{ modalId }}Modal" class="modal fade" :data-fetch-and-inject="getUserCertificateUrl()" tabindex="-1" role="dialog" aria-labelledby="{{ modalId }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="text-end me-3">
                {{ block('close_modal_button') }}
            </div>

            <div class="modal-body ajax-inner"></div>

        </div>
    </div>
</div>
